---
# FIX: duperemove mit Größen- und Tiefenlimit versehen, um unkontrollierte
#      Systembelastung bei einem Lauf auf dem Root-Filesystem zu verhindern.

- name: Btrfs Optimierung und Systemkonfiguration für Alpine
  hosts: all
  become: true
  vars:
    btrfs_mountpoint: "/"
    compression_opt: "compress=zstd:3"
    # FIX: Limits für duperemove definierbar machen
    duperemove_min_size: "1M"    # Dateien kleiner als 1 MB überspringen
    duperemove_io_threads: "2"   # Anzahl paralleler I/O-Threads begrenzen

  tasks:
    - name: Btrfs-Progs und Deduplizierungstools installieren
      community.general.apk:
        name:
          - btrfs-progs
          - duperemove
        state: present
        update_cache: yes

    - name: Btrfs Modul in /etc/modules eintragen
      ansible.builtin.lineinfile:
        path: /etc/modules
        line: btrfs
        create: yes

    - name: Btrfs in mkinitfs.conf Features hinzufügen
      ansible.builtin.replace:
        path: /etc/mkinitfs/mkinitfs.conf
        regexp: '^features="((?!.*btrfs).*)"'
        replace: 'features="\1 btrfs"'
      register: mkinitfs_config

    - name: Initramfs neu generieren
      ansible.builtin.command: mkinitfs
      when: mkinitfs_config.changed
      notify: "System-Information"

    - name: Komprimierung in /etc/fstab aktivieren
      ansible.posix.mount:
        path: "{{ btrfs_mountpoint }}"
        state: mounted
        fstype: btrfs
        opts: "defaults,{{ compression_opt }}"

    # FIX: duperemove mit --min-size und --io-threads, um Systemlast zu begrenzen.
    #      --hashfile speichert Hashes zwischen den Läufen, damit nicht jedes Mal
    #      alles neu gehasht werden muss (deutlich schnellere Folgeläufe).
    - name: Wöchentlichen Cron-Job für Deduplizierung einrichten
      ansible.builtin.cron:
        name: "Btrfs Deduplizierung"
        user: "root"
        job: >-
          /usr/bin/duperemove
          -dr
          --min-size={{ duperemove_min_size }}
          --io-threads={{ duperemove_io_threads }}
          --hashfile=/var/cache/duperemove.hash
          {{ btrfs_mountpoint }}
        special_time: "weekly"

  handlers:
    - name: System-Information
      ansible.builtin.debug:
        msg: "Initramfs wurde aktualisiert. Ein Neustart wird empfohlen, um sicherzustellen, dass alle Module korrekt geladen werden."
